#chatroomListener h2 {
  text-align: center;
}

#chatroomListener #cases table { 
  width: 90%;
  margin: 0px auto;
}

#chatroomListener #cases table tr th {
  text-align: left;
} 

#chatroomListener #cases table tr.even {
  background-color: #CCC;
}
