#chatroomListener h2 {
  text-align: center;
}

#chatroomListener #cases table { 
  width: 90%;
  margin: 0px auto;
}

#chatroomListener #cases table tr th {
  text-align: left;
} 

#chatroomListener #cases table tr.header {
  background-color: #666;
}

#chatroomListener #cases table tr.header th {
  padding: 10px;
  color: #FFF;
}

#chatroomListener #cases table tr td {
  padding: 10px;
}

#chatroomListener #cases table tr.even {
  background-color: #CCC;
}
