/*-- General style --*/
.hidden{
display:none;
}
.center{
margin-left:auto;
margin-right:auto;
}
.textCenter{
text-align:center;
}
.textRight{
text-align:right;
}
.w30{
width:30%;
}
a{
text-decoration:none;
}
.tile{
float:left;
}
body{
margin:0px;
padding:0px;
}
.floatLeft{
float:left;
}
.floatRight{
float:right;
}
.stopFloat{
clear:both;
}
/*-- End of General style --*/

/*-- Color Scheme --*/
.bOrange{
background-color:#ffc933;
}
.bGreen{
background-color:#55ee55;
}
.bBlue{
background-color:#5588ee;
}
.bRed{
background-color:#ff3311;
}
.bGrey{
background-color:#dddddd;
}
/*-- End of Color Scheme --*/


#userBar #sLogo{
margin:0;
width:50%;
display:inline;
}
#userBar #uControl{
margin:0;
width:50%;
display:inline;
}
#userBar #uControl div{
margin:0;
padding:0px 5px 0px 5px;
border-left:1px dotted #ffc933;
/*border-right:1px dotted #ffffff;*/
display:inline;
float:right;
}

#main{
margin:0px;
padding:0px;
width:100%;
font-family:Verdana, Geneva, sans-serif;
}/*?*/
