/*-- General style --*/
.hidden{
display:none;
}
.center{
margin-left:auto;
margin-right:auto;
}
.textCenter{
text-align:center;
}
.textRight{
text-align:right;
}
.w30{
width:30%;
}
a{
text-decoration:none;
}
.tile{
float:left;
}
body{
margin:0px;
padding:0px;
width:98%;
font-family:Verdana, Geneva, sans-serif;
}
.mar1{
margin:1%;
}
.pad1{
padding:1%;
}
.floatLeft{
float:left;
}
.floatRight{
float:right;
text-align:right;
}
.stopFloat{
clear:both;
}
/*-- End of General style --*/

/*-- Color Scheme --*/
.txtWhite{
color:#ffffff;
}
.bOrange{
background-color:#ffc933;
}
.bGreen{
background-color:#55ee55;
}
.bBlue{
background-color:#5588ee;
}
.bRed{
background-color:#ff3311;
}
.bGrey{
background-color:#42425a;
}
.bPurple{
	background-color:#5599ee;
}

/*-- End of Color Scheme --*/

