@import 'common.css';

/* Comment */
/*#margin {
			margin:0px;
			padding:1%;
			width:100%;
			font-family: Myriad Pro, Verdana, Geneva, sans-serif;
		}*/

#about {
			background-color:#ffffff;
			padding:2%;
}

#logo {
			margin:0px;
			width:100px;
			height:100px;
			/*background-color:#ffa822;*/
		}

#logoFooter {
			width:100%;
			height:100px;
			font-family: Myriad Pro, Verdana, Geneva, sans-serif;
		}

#teamName {
			margin:0px;
			padding:1%;
			width:100%;
			height: 135px;
			color:#ffffff;
			font-size:4em;
			font-weight:bold;

			/*background-color:#ffa822;*/
			/*background-image: url('header.jpg')*/
		}

#main{
	width:50%;
}

#twoButton {
			width:500px;
			height:50px;
			padding:1%;
			color:#ffffff;
			text-align:center;
		}
		
#txtStory {
			width:90%;
			height:200px;
		}

input[type="text"] {
		/*margin:2%;*/
		width:100%;
		display:block;
	}



.button1 {
			margin:2%;
			padding:1%;
			width:42%;/*150px;*/
			height:25px;
			text-align:center;
			color:#ffffff;
			float:left;
		}		

.button2 {
			/*margin:0 2% 0 2%;*/
			padding:1%;
			width:60%;
			height:25px;
			text-align:center;
			color:#ffffff;
		}

.button1:hover, .button2:hover {
			background-color:#8d40fd;
			cursor:pointer;
		}

.messageBox {
			padding:1%;
			width:90%;
			height:300px;
			background-color:#eeeeee;
		}

.submit{
			width:30%;
			text-align:center;
	}

.submit:hover{
			background-color:#5599ee;
			cursor:pointer;
}

.listenerInfo{
	width:20%;
}
.chatbox{
	border:5px blue;
	width:78%;
}

.vSpace{
height:5px;
}
.inputGroup{
width:50%;
}
